*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #faadbb;
    color: #faadbb;
    font-family: Arial;
}

header {
    background-color: white;
    padding: 20px;
    text-align: left;
    font-size: larger;
    color: #e87693;
    background-image: url();
}

nav {
    background-color: #d48795;
    color:#d48795;
    text-align: center;
    padding: 5px;
    
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: none;
    display: inline-block;
    padding: 5px 20px;
    margin-right: 5px;
}

nav a {
    text-decoration: none;
    color:#660F1E;

}

nav a:hover {
     color: white;

}

img {
    max-width: 100%;
}

.main-menu {
    position: relative;

}

.home-image{
    position: relative;

}

.home-image img{
    max-width: 100%;
    height: auto;
}

.home-text{
    position: absolute;
    top: 40%;
    color: #660F1E;
    padding: 10px;
    font-size: 185%;
    width: 20px;
    font-style: italic;
    font-stretch: expanded;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin-left: 225px;
    margin-top: -100px;
    text-align: center;
    text-size-adjust: auto;
    
}

.works-image{
    position: relative;
}

.works-latest-image img{
    max-width: 100%;
    height: auto;
}

.works-latest-text{
    position: absolute;
    top: 50%;
    color: #000000;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    margin-left: 180px;
    margin-top: -50px;
    text-decoration: underline;

}
.works-latest-descr-text{

    position: absolute;
    top: 50%;
    color: #000000;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    margin-left: 180px;
    margin-top: -5px;

}

.works-image{
    position: relative;
}

.works-image img{
    max-width: 100%;
    height: auto;
}

.works-past-text{
    position: absolute;
    top: 50%;
    color: #000000;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    margin-left: 180px;
    margin-top: -50px;
    text-decoration: underline;

}
.works-past-descr-text{

    position: absolute;
    top: 50%;
    color: #000000;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    margin-left: 180px;
    margin-top: -5px;

}

.about-me-image{
    position: relative;
}

.about-me-image img{
    max-width: 100%;
    height: auto;
}

.about-me-text{
    position: absolute;
    top: 50%;
    color: #000000;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    margin-left: 180px;
    margin-top: -50px;

}

.label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    color: #000000;
    text-align: left;
    padding-top: 10px;
    margin-left: 50px;
    margin-top: 20px;

}
.contact-form {
    text-align: center;
    margin-top: 20px;
}


.form-input {
    border: white 2px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    padding: 1cm;
    box-sizing: border-box;
    margin-bottom: 5px;
    width: calc(100%-22px);
}

.form-input:focus {
    outline: none;
    border: 2px solid #261f17;
    width: 100%;
}

[type="submit"] {
    background: rgb(230, 119, 137);
    color: #261f17;
    padding: 10px 20px;
    border: 2px solid white;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
}

.textarea.form-input {
    resize: vertical;
}

.submit-button:hover {
    background-color: #f0f0f0;
}

.submit-button:active {
    transform: scale(0.95);
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    margin: -1cm 0 1.5cm;
}

footer {
    margin-top: auto; 
    background-color: white;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}